@model BerrasBio.Models.Entity.BookingViewModel

@{
    ViewData["Title"] = "Booking";
}

<h2>Thank you for your booking!</h2>

<div>
    <h4>@Html.DisplayFor(model => model.MovieTitle)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Salon
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalonName)
        </dd>
        <dt>
            Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            Seats
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumOfSeats)
        </dd>
        <dt>
            Booking #
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
    </dl>
</div>
<p>Your tickets are reserved until <em>one hour</em> before start.</p>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
